 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/cb5bc7ab5e56abbcda01add849930ad3b1505dfb5585f99344597e280c5eb41dfb88693ade8c584f8b09207fb9bfa70da3dd8db230ab74f1418de8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2.25rem;
  margin: 60px 0 0 648px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 24px 0 0 759px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 0 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 448px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 339px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-left: 48px;
    font-size: 1.5;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 268px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -84px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 356px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 392px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 356px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 72px 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 0;
  margin: 20px 40px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    width: 125px;
    height: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 866px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1178px;
  margin: 52px -38px 44px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 352px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 340px;
  background-image: url("images/80ee1630-707d-433b-ba11-c1ded7d9902e.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 800px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 408px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px -89px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 800px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-group-1 {
  width: 404px;
  min-height: 268px;
  margin: 70px auto 0 -132px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 72px;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 655px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-4 .u-image-1 {
    width: 293px;
    height: 256px;
  }

  .u-section-4 .u-image-2 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 639px;
  }

  .u-section-4 .u-image-3 {
    height: 326px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 639px;
  }

  .u-section-4 .u-group-1 {
    width: 371px;
    margin-top: 33px;
    margin-left: -156px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 843px;
  }

  .u-section-4 .u-image-1 {
    width: 608px;
    object-position: 50% 20.47%;
    background-position: 50% 20.47%;
  }

  .u-section-4 .u-image-2 {
    min-height: 625px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 413px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-4 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 469px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    height: 489px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-4 .u-image-1 {
    height: 121px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 295px;
  }

  .u-section-4 .u-image-3 {
    height: 308px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 487px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 91px auto 91px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 306px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 306px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-btn-1 {
    width: 125px;
    height: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 373px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 60px 400px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-6 .u-btn-1 {
    width: 125px;
    height: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 810px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 383px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-7 .u-icon-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 48px;
  width: 48px;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

.u-section-7 .u-image-1 {
  min-height: 345px;
  background-image: url("images/b6e47aefbc9b48203c0f0ca90acae422adc03469930b596fc2fce995d1f10fb07a277e51e1cf0a450c362147ba95525dab14f2e824b11d957c5d3f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 345px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-7 .u-text-4 {
  margin-top: 0;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 345px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-7 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-7 .u-image-2 {
  min-height: 345px;
  background-image: url("images/fcc0e21e979b030004327e32209294545ddad14e64b5a255fdacfcea04f93028ab7fc4e7fa0cb91fb0c9fc63088d9429923eb611fb41d079cb01f4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-7 .u-text-2 {
    height: 25px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-7 .u-image-1 {
    min-height: 284px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-7 .u-btn-2 {
    width: 125px;
    height: 27px;
  }

  .u-section-7 .u-image-2 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 435px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    min-height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2180px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 653px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 653px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-7 .u-form-group-1 {
    width: 100%;
  }

  .u-section-7 .u-form-group-2 {
    width: 100%;
  }

  .u-section-7 .u-form-group-3 {
    width: 100%;
  }

  .u-section-7 .u-form-group-4 {
    width: 100%;
  }

  .u-section-7 .u-image-1 {
    min-height: 411px;
  }

  .u-section-7 .u-image-2 {
    min-height: 411px;
  }
}